@using MVCUsuarios.Dto.Usuario
@model UsuarioCriacaoDto

@{
    Layout = "_LayoutDeslogada";
}


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div asp-validation-summary="All" class="text-danger"></div>
<div class="container">
    <h1>Cadastro de Usuários</h1>
<form asp-action="Registrar" asp-controller="Home" method="post">
    <div class="mb-3">
        <label  class="form-label">Email:</label>
        <input type="text" class="form-control" asp-for="Email">

    </div>
    <div class="mb-3">
        <label class="form-label">Usuário:</label>
        <input type="text" class="form-control" asp-for="Usuario">

    </div>
    <div class="mb-3">
        <label class="form-label">Nome:</label>
        <input type="text" class="form-control" asp-for="Nome">

    </div>
    <div class="mb-3">
        <label  class="form-label">Sobrenome:</label>
        <input type="text" class="form-control" asp-for="Sobrenome">

    </div>
    <div class="mb-3">
        <label class="form-label">Senha:</label>
        <input type="password" class="form-control" asp-for="Senha">
    </div>
    <div class="mb-3">
        <label class="form-label">Confirmação de senha:</label>
        <input type="password" class="form-control" asp-for="ConfirmaSenha">
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-3">Cadastrar-se</button>
        <a asp-action="Login" asp-controller="Home" class="btn btn-secondary w-100">Voltar</a>
    </form>
</div>